* {
  margin: 0;
  padding: 0;
  z-index: 10;
  outline: none;
}

.segoe-fluent-icons {
  font-family: Segoe Fluent Icons;
}

body {
  background-color: #18181b;
  /* background-image: url("https://iili.io/dax9TAP.png");
  background-size: 48px;
  image-rendering: pixelated; */
  color: white;
}